In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('test_Y3wMUE5_7gLdaTN.csv')

In [3]:
data = pd.read_csv('train_u6lujuX_CVtuZ9i.csv')

In [4]:
data.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [5]:
data.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [6]:
data.shape

(614, 13)

In [7]:
print("The total number of Rows :", data.shape[0])
print("The total number of columns :", data.shape[1])

The total number of Rows : 614
The total number of columns : 13

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [9]:
data.isnull()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,False,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,False,False,False,False,False,False,False,False,False,False,False,False,False
610,False,False,False,False,False,False,False,False,False,False,False,False,False
611,False,False,False,False,False,False,False,False,False,False,False,False,False
612,False,False,False,False,False,False,False,False,False,False,False,False,False
613,False,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [11]:
data.isnull().sum() *100 / len(data)

Loan_ID              0.000000
Gender               2.117264
Married              0.488599
Dependents           2.442997
Education            0.000000
Self_Employed        5.211726
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           3.583062
Loan_Amount_Term     2.280130
Credit_History       8.143322
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [12]:
data  = data.drop('Loan_ID', axis = 1)

In [13]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [14]:
columns = ['Gender','Dependents','LoanAmount','Loan_Amount_Term']

In [15]:
data = data.dropna(subset=columns)

In [16]:
data.isnull().sum() *100 / len(data)

Gender               0.000000
Married              0.000000
Dependents           0.000000
Education            0.000000
Self_Employed        5.424955
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           0.000000
Loan_Amount_Term     0.000000
Credit_History       8.679928
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [17]:
data['Self_Employed'].mode()[0]

'No'

In [18]:
data['Self_Employed'] = data['Self_Employed'].fillna(data['Self_Employed'].mode()[0])

In [19]:
data.isnull().sum() *100 / len(data)

Gender               0.000000
Married              0.000000
Dependents           0.000000
Education            0.000000
Self_Employed        0.000000
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           0.000000
Loan_Amount_Term     0.000000
Credit_History       8.679928
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [20]:
data['Credit_History'] = data['Credit_History'].fillna(data['Credit_History'].mode()[0])

In [21]:
data.isnull().sum() *100 / len(data)

Gender               0.0
Married              0.0
Dependents           0.0
Education            0.0
Self_Employed        0.0
ApplicantIncome      0.0
CoapplicantIncome    0.0
LoanAmount           0.0
Loan_Amount_Term     0.0
Credit_History       0.0
Property_Area        0.0
Loan_Status          0.0
dtype: float64

In [22]:
data.sample(5)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
425,Male,Yes,0,Graduate,No,2666,4300.0,121.0,360.0,1.0,Rural,Y
271,Male,Yes,0,Graduate,No,11146,0.0,136.0,360.0,1.0,Urban,Y
92,Male,Yes,2,Not Graduate,No,3273,1820.0,81.0,360.0,1.0,Urban,Y
458,Male,No,2,Graduate,No,4354,0.0,136.0,360.0,1.0,Rural,Y
487,Male,Yes,1,Graduate,No,18333,0.0,500.0,360.0,1.0,Urban,N

In [23]:
data['Dependents'] = data['Dependents'].replace(to_replace = "3+",value = '4')

In [24]:
data.sample(5)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
307,Female,No,0,Graduate,No,2400,1863.0,104.0,360.0,0.0,Urban,N
315,Male,Yes,1,Not Graduate,No,3399,1640.0,111.0,180.0,1.0,Urban,Y
92,Male,Yes,2,Not Graduate,No,3273,1820.0,81.0,360.0,1.0,Urban,Y
167,Male,Yes,0,Graduate,No,2439,3333.0,129.0,360.0,1.0,Rural,Y
572,Male,Yes,2,Graduate,No,16666,0.0,275.0,360.0,1.0,Urban,Y

In [25]:
data['Dependents']

1      1
2      0
3      0
4      0
5      2
      ..
609    0
610    4
611    1
612    2
613    0
Name: Dependents, Length: 553, dtype: object

In [26]:
data['Gender'] = data['Gender'].map({'Male':1,'Female':0}).astype('int')
data['Married'] = data['Married'].map({'Yes':1,'No':0}).astype('int')
data['Education'] = data['Education'].map({'Graduate':1,'Not Graduate':0}).astype('int')
data['Self_Employed'] = data['Self_Employed'].map({'Yes':1,'No':0}).astype('int')
data['Property_Area'] = data['Property_Area'].map({'Rural':0,'Semiurban':2,'Urban':1}).astype('int')
data['Loan_Status'] = data['Loan_Status'].map({'N':0,'Y':1}).astype('int')

In [27]:
data.sample(10)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
443,1,0,1,1,0,37719,0.0,152.0,360.0,1.0,2,1
233,0,0,0,1,0,8333,0.0,280.0,360.0,1.0,2,1
348,1,1,0,1,0,6333,4583.0,259.0,360.0,1.0,2,1
587,0,0,0,0,0,2165,0.0,70.0,360.0,1.0,2,1
252,1,0,0,0,1,2583,2167.0,104.0,360.0,1.0,0,1
66,1,0,0,0,0,3200,2254.0,126.0,180.0,0.0,1,0
297,0,1,1,1,0,4666,0.0,135.0,360.0,1.0,1,1
422,1,1,0,1,0,1820,1719.0,100.0,360.0,1.0,1,1
75,1,0,0,1,0,3750,0.0,113.0,480.0,1.0,1,0
581,1,0,0,1,0,1836,33837.0,90.0,360.0,1.0,1,0

In [28]:
X = data.drop('Loan_Status', axis=1)

In [29]:
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,1,0,2900,0.0,71.0,360.0,1.0,0
610,1,1,4,1,0,4106,0.0,40.0,180.0,1.0,0
611,1,1,1,1,0,8072,240.0,253.0,360.0,1.0,1
612,1,1,2,1,0,7583,0.0,187.0,360.0,1.0,1
613,0,0,0,1,1,4583,0.0,133.0,360.0,0.0,2

In [30]:
y = data['Loan_Status']

In [31]:
y

1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 553, dtype: int64

In [32]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,1
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1,1
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1,1
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1,1

In [33]:
cols = ['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term']

In [34]:
from sklearn.preprocessing import StandardScaler
st = StandardScaler()
X[cols] = st.fit_transform(X[cols])

In [35]:
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,0,-0.128694,-0.049699,-0.214368,0.279961,1.0,0
2,1,1,0,1,1,-0.394296,-0.545638,-0.952675,0.279961,1.0,1
3,1,1,0,0,0,-0.464262,0.229842,-0.309634,0.279961,1.0,1
4,1,0,0,1,0,0.109057,-0.545638,-0.059562,0.279961,1.0,1
5,1,1,2,1,1,0.011239,0.834309,1.440866,0.279961,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,1,0,-0.411075,-0.545638,-0.893134,0.279961,1.0,0
610,1,1,4,1,0,-0.208727,-0.545638,-1.262287,-2.468292,1.0,0
611,1,1,1,1,0,0.456706,-0.466709,1.274152,0.279961,1.0,1
612,1,1,2,1,0,0.374659,-0.545638,0.488213,0.279961,1.0,1
613,0,0,0,1,1,-0.128694,-0.545638,-0.154828,0.279961,0.0,2

In [36]:
"""Splitting The Dataset Into The Training Set And Test Set & Applying
K-Fold Cross Validation"""


from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
import numpy as np

In [37]:
model_df={}
def model_val(model,X,y):
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=42)
    
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    print(f"{model} accuracy is {accuracy_score(y_test,y_pred)}")
    
    score = cross_val_score(model,X,y,cv=5)
    print(f"{model} Avg cross validation score is: {np.mean(score)}")
    model_df[model] = round(np.mean(score)*100,2)

In [38]:
model_df  #dictionary used for storing the scores

{}

In [39]:
#LOGISTIC REGRESSION

from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model_val(model,X,y)

LogisticRegression() accuracy is 0.8018018018018018
LogisticRegression() Avg cross validation score is: 0.8047829647829647

In [40]:
#SVC suport vector classifier

from sklearn import svm
model = svm.SVC()
model_val(model,X,y)

SVC() accuracy is 0.7927927927927928
SVC() Avg cross validation score is: 0.7938902538902539

In [41]:
#DECISION TREE CLASSIFIER

from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model_val(model,X,y)

DecisionTreeClassifier() accuracy is 0.7477477477477478
DecisionTreeClassifier() Avg cross validation score is: 0.7142833742833743

In [42]:
#RANDOM FOREST CLASSIFIER

from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model_val(model,X,y)

RandomForestClassifier() accuracy is 0.7747747747747747
RandomForestClassifier() Avg cross validation score is: 0.7757903357903357

In [43]:
#Gradient Boosting Classifier

from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier()
model_val(model,X,y)

GradientBoostingClassifier() accuracy is 0.7927927927927928
GradientBoostingClassifier() Avg cross validation score is: 0.7721539721539721

In [44]:
# Hyper parameter tuning

from sklearn.model_selection import RandomizedSearchCV

In [45]:
# Logistic Regression

log_red_grid = {"C":np.logspace(-4,4,20) , "solver":['liblinear']}

In [46]:
rs_log_reg = RandomizedSearchCV(LogisticRegression(),param_distributions = log_red_grid, n_iter = 20, cv = 5, verbose = True)

In [47]:
rs_log_reg.fit(X,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

RandomizedSearchCV(cv=5, estimator=LogisticRegression(), n_iter=20,
                   param_distributions={'C': array([1.00000000e-04, 2.63665090e-04, 6.95192796e-04, 1.83298071e-03,
       4.83293024e-03, 1.27427499e-02, 3.35981829e-02, 8.85866790e-02,
       2.33572147e-01, 6.15848211e-01, 1.62377674e+00, 4.28133240e+00,
       1.12883789e+01, 2.97635144e+01, 7.84759970e+01, 2.06913808e+02,
       5.45559478e+02, 1.43844989e+03, 3.79269019e+03, 1.00000000e+04]),
                                        'solver': ['liblinear']},
                   verbose=True)

In [48]:
rs_log_reg.best_score_

0.8047829647829647

In [49]:
rs_log_reg.best_params_

{'solver': 'liblinear', 'C': 0.23357214690901212}

In [50]:
#Hyper parameter tuning for SVC

In [51]:
svc_grid = {'C':[0.25,0.50,0.75,1], "Kernel":["linear"]}

In [52]:
rs_svc = RandomizedSearchCV(svm.SVC(),param_distributions=svc_grid,cv=5,n_iter=20,verbose=True)

In [53]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.svm import SVC
from scipy.stats import uniform

# Define the parameter grid
param_grid = {
    'C': uniform(0.1, 1),
    'kernel': ['linear', 'rbf', 'poly', 'sigmoid']
    #'gamma': ['scale', 'auto']
}

# Create the RandomizedSearchCV object
rs_svc = RandomizedSearchCV(estimator=SVC(), param_distributions=param_grid, n_iter=20)

# Fit the model
rs_svc.fit(X, y)

RandomizedSearchCV(estimator=SVC(), n_iter=20,
                   param_distributions={'C': <scipy.stats._distn_infrastructure.rv_continuous_frozen object at 0x147e1b750>,
                                        'kernel': ['linear', 'rbf', 'poly',
                                                   'sigmoid']})

In [54]:
rs_svc.best_score_

0.8066011466011467

In [55]:
rs_svc.best_params_

{'C': 0.11704067913590102, 'kernel': 'linear'}

In [56]:
#Hyper parameter tuning for random forest classifier

In [57]:
RandomForestClassifier()

RandomForestClassifier()

In [58]:
rf_grid = {'n_estimators':np.arange(10,1000,10),'max_features':['auto','sqrt'],
          'max_depeth':[None,3,5,10,20,30],'min_samples_split':[2,5,20,50,100],
          'min_samples_leaf':[1,2,5,10]}

In [59]:
rs_rf = RandomizedSearchCV(RandomForestClassifier(),param_distributions=rf_grid,cv=5,n_iter=20,verbose=True)

In [60]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
from scipy.stats import randint

# Define the parameter grid
param_grid = {
    'n_estimators': randint(10, 1000),
    'max_depth': [None, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
    'min_samples_split': randint(2, 20),
    'min_samples_leaf': randint(1, 20),
    'max_features': ['auto', 'sqrt', 'log2'],
    'bootstrap': [True, False]
}

# Create the RandomizedSearchCV object
rs_rf = RandomizedSearchCV(estimator=RandomForestClassifier(), param_distributions=param_grid, n_iter=20)

# Fit the model
rs_rf.fit(X, y)

/Users/lalit/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_validation.py:425: FitFailedWarning:
30 fits failed out of a total of 100.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "/Users/lalit/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/lalit/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 1144, in wrapper
    estimator._validate_params()
  File "/Users/lalit/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "/Users/lalit/anaconda3/lib/python3.11/site-packages/sklearn/utils/_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/Users/lalit/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_search.py:976: UserWarning: One or more of the test scores are non-finite: [0.797543   0.80660115 0.80660115 0.80479934 0.80660115 0.80660115
 0.80660115 0.8011466  0.80117936        nan        nan 0.80660115
        nan 0.80660115        nan        nan        nan 0.80660115
 0.80660115 0.80660115]
  warnings.warn(

RandomizedSearchCV(estimator=RandomForestClassifier(), n_iter=20,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [None, 10, 20, 30, 40, 50,
                                                      60, 70, 80, 90, 100],
                                        'max_features': ['auto', 'sqrt',
                                                         'log2'],
                                        'min_samples_leaf': <scipy.stats._distn_infrastructure.rv_discrete_frozen object at 0x147e53f90>,
                                        'min_samples_split': <scipy.stats._distn_infrastructure.rv_discrete_frozen object at 0x147e53190>,
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_discrete_frozen object at 0x147e39810>})

In [61]:
rs_rf.best_score_

0.8066011466011467

In [62]:
rs_rf.best_params_

{'bootstrap': False,
 'max_depth': None,
 'max_features': 'sqrt',
 'min_samples_leaf': 13,
 'min_samples_split': 3,
 'n_estimators': 977}

In [63]:
#Save the model

In [64]:
X = data.drop('Loan_Status', axis=1)
y = data['Loan_Status']

In [65]:
from sklearn.ensemble import RandomForestClassifier

# Define hyperparameters
bootstrap = True
max_depth = 60
max_features = 'log2'
min_samples_leaf = 17
min_samples_split = 6
n_estimators = 684

# Create RandomForestClassifier with specified hyperparameters
rf = RandomForestClassifier(bootstrap=bootstrap, max_depth=max_depth, max_features=max_features,
                            min_samples_leaf=min_samples_leaf, min_samples_split=min_samples_split,
                            n_estimators=n_estimators)

# Fit the model
rf.fit(X, y)

RandomForestClassifier(max_depth=60, max_features='log2', min_samples_leaf=17,
                       min_samples_split=6, n_estimators=684)

In [66]:
import joblib

In [67]:
joblib.dump(rf,'loan_status_predict')

['loan_status_predict']

In [68]:
model = joblib.load('loan_status_predict')

In [69]:
import pandas as pd
df = pd.DataFrame({
    'Gender':1,
    'Married':1,
    'Dependents' : 2,
    'Education' :0,
    'Self_Employed' :0,
    'ApplicantIncome': 2889,
    'CoapplicantIncome' :0.0,
    'LoanAmount' :45,
    'Loan_Amount_Term' :180,
    'Credit_History' :0,
    'Property_Area' :1
    },index=[0])

In [70]:
df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,2,0,0,2889,0.0,45,180,0,1

In [71]:
result = model.predict(df)

In [72]:
if result == 1:
    print("Loan was approved ")
else:
    print("Loan was not approved ")

Loan was not approved

In [73]:
from tkinter import * 
import joblib
import pandas as pd

In [74]:
def show_entry():
    try:
        # Get user inputs and validate
        p1 = validate_float(e1.get())
        p2 = validate_float(e2.get())
        p3 = validate_float(e3.get())
        p4 = validate_float(e4.get())
        p5 = validate_float(e5.get())
        p6 = validate_float(e6.get())
        p7 = validate_float(e7.get())
        p8 = validate_float(e8.get())
        p9 = validate_float(e9.get())
        p10 = validate_float(e10.get())
        p11 = validate_float(e11.get())
        
        if None in [p1, p2, p3, p4, p5, p6, p7, p8, p9, p10, p11]:
            raise ValueError("Please enter valid numeric values in all fields")
        
        # Load the machine learning model
        model = joblib.load('loan_status_predict')
        
        # Create a DataFrame from user inputs
        df = pd.DataFrame({
            'Gender': [p1],
            'Married': [p2],
            'Dependents': [p3],
            'Education': [p4],
            'Self_Employed': [p5],
            'ApplicantIncome': [p6],
            'CoapplicantIncome': [p7],
            'LoanAmount': [p8],
            'Loan_Amount_Term': [p9],
            'Credit_History': [p10],
            'Property_Area': [p11]
        })
        
        # Make prediction
        result = model.predict(df)
        
        # Display result
        if result == 1:
            Label(master, text="Loan approved").grid(row=31)
        else:
            Label(master, text="Loan Not Approved").grid(row=31)
    
    except ValueError as e:
        # Handle the ValueError (e.g., display an error message)
        print("Error:", e)

def validate_float(value):
    try:
        return float(value)
    except ValueError:
        return None

In [75]:
def show_entry():
    
    p1 = float(e1.get())
    p2 = float(e2.get())
    p3 = float(e3.get())
    p4 = float(e4.get())
    p5 = float(e5.get())
    p6 = float(e6.get())
    p7 = float(e7.get())
    p8 = float(e8.get())
    p9 = float(e9.get())
    p10 = float(e10.get())
    p11 = float(e11.get())
    
    model = joblib.load('loan_status_predict')
    df = pd.DataFrame({
    'Gender':p1,
    'Married':p2,
    'Dependents':p3,
    'Education':p4,
    'Self_Employed':p5,
    'ApplicantIncome':p6,
    'CoapplicantIncome':p7,
    'LoanAmount':p8,
    'Loan_Amount_Term':p9,
    'Credit_History':p10,
    'Property_Area':p11
},index=[0])
    result = model.predict(df)
    
    if result == 1:
        Label(master, text="Loan approved").grid(row=31)
    else:
        Label(master, text="Loan Not Approved").grid(row=31)
        
    
master =Tk()
master.title("Loan Status Prediction Using Machine Learning")
label = Label(master,text = "Loan Status Prediction",bg = "black",
               fg = "white").grid(row=0,columnspan=2)

Label(master,text = "Gender [1:Male ,0:Female]").grid(row=1)
Label(master,text = "Married [1:Yes,0:No]").grid(row=2)
Label(master,text = "Dependents [1,2,3,4]").grid(row=3)
Label(master,text = "Education").grid(row=4)
Label(master,text = "Self_Employed").grid(row=5)
Label(master,text = "ApplicantIncome").grid(row=6)
Label(master,text = "CoapplicantIncome").grid(row=7)
Label(master,text = "LoanAmount").grid(row=8)
Label(master,text = "Loan_Amount_Term").grid(row=9)
Label(master,text = "Credit_History").grid(row=10)
Label(master,text = "Property_Area").grid(row=11)


e1 = Entry(master)
e2 = Entry(master)
e3 = Entry(master)
e4 = Entry(master)
e5 = Entry(master)
e6 = Entry(master)
e7 = Entry(master)
e8 = Entry(master)
e9 = Entry(master)
e10 = Entry(master)
e11 = Entry(master)


e1.grid(row=1,column=1)
e2.grid(row=2,column=1)
e3.grid(row=3,column=1)
e4.grid(row=4,column=1)
e5.grid(row=5,column=1)
e6.grid(row=6,column=1)
e7.grid(row=7,column=1)
e8.grid(row=8,column=1)
e9.grid(row=9,column=1)
e10.grid(row=10,column=1)
e11.grid(row=11,column=1)

Button(master,text="Predict",command=show_entry).grid()

mainloop()